<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.group20.gtnm.xmovie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.detailMovie.DetailUpcomingActivity" />
        <activity android:name=".main.detailMovie.DetailPopularActivity" />
        <activity android:name=".main.detailMovie.DetailTheaterActivity" />
        <activity android:name=".main.movielist.MoreUpcomingMovie" />
        <activity android:name=".main.movielist.MorePopularMovieActivity" />
        <activity android:name=".main.movielist.MoreTheaterMovieActivity" />
        <activity
            android:name=".main.detailMovie.PlaytrailerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".main.search.SearchActivity" />
        <activity android:name=".main.favorite_movie.FavoriteMovieActivity" />
        <activity android:name=".main.notification.NotificationActivity"></activity>
        <activity android:name=".main.TestLideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>